* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
.content-section {
  width: 100%;
}
.content-section::after {
  content: "";
  display: block;
  clear: both;
}
.email-img {
  position: absolute;
  top: 19px;
  left: 19px;
}
.fb-img {
  position: absolute;
  top: 52px;
  left: 19px;
}
.twitter-img {
  position: absolute;
  top: 85px;
  left: 19px;
}

.now-playing-title {
  position: absolute;
  bottom: 26px;
  padding-left: 21px;
}

.now-playing-label {
  margin-bottom: 6px;
  font-family: ClearSans;
  color: #ffc602;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  letter-spacing: .05em;
}
.now-playing-artist {
  margin-bottom: 6px;
  font-family: ClearSans;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.now-playing-song {
  font-family: ClearSans;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.like-box {
  position: absolute;
  bottom: 24px;
  right: 12px;
}
.like-img {
  display: block;
  margin-bottom: 14px;
}
.dislike-img {
  display: block;
}
.recently-played {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}
.recently-played-header {
  margin: 23px 0 19px 22px;
}
.played-song {
  margin: 0 0 27px 22px;
  float: left;
}
.played-song-img {
  width: 49px;
  height: 49px;
  float: left;
}
.played-song-artist {
  display: block;
  margin: 0 0 4px 59px;
  font-family: ClearSans;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
.played-song-title {
  display: block;
  margin: 0 0 7px 59px;
  font-family: ClearSans;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.played-song-duration {
  display: block;
  margin-left: 59px;
  font-family: ClearSans;
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}

.section-title {
  font-family: ClearSans;
  color: #d98000;
  font-size: 22px;
  font-weight: 100;
  line-height: 12px;
  text-align: left;
  margin-bottom: 19px;
}
