body {
  background-color: #101010;
  background-size: cover;
  background-image: url("../images/desktop/background.png")
}
main {
  margin: auto;
  width: 1300px;
}

.column-3 {
  float: left;
  width: 279px;
  margin-left: 12px;
}

.menu-block {
  display: none;
}

/****************************

Header
Start

*****************************/

.header {
  position: relative;
  width: 100%;
  height: 96px;
  margin-bottom: 18px;
}
.logotype {
  width: 109px;
  height: 75px;
  position: absolute;
  left: 49px;
  top: 13px;
}

/*
play-controls
Start
*/
.play-controls {
  /*display: inline-block;*/
  position: absolute;
  left: 215px;
  top: 10px;
}
.button-stop {
  width: 36px;
  height: 36px;
}
.button-play {
  width: 54px;
  height: 54px;
  position: relative;
  left: -12px;
  top: 9px;
  z-index: 1;
}
.button-forward {
  width: 36px;
  height: 36px;
  position: relative;
  left: -22px;
}
/*
play-controls
End
*/

/*
volume-controls
Start
*/
.volume-controls {
  position: absolute;
  display: inline-block;
  left: 372px;
  top: 32px;
  width: 156px;
  vertical-align: middle;
}

.volume-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/desktop/volume_indicator.png");
  display: inline-block;
  width: 21px;
  height: 16px;
  position: relative;
  left: 2px;
  top: 7px;
}
/*
volume-controls
Start
*/

.button-request {
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 1108px;
  width: 142px;
  height: 33px;
  border-radius: 15px;
  border-style: none;
  text-align: center;
  background-color: #fcd000;
  line-height: 33px;
  font-family: ClearSans;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
.phone-playing-title {
    display: none;
}

/****************************
Header
End
*****************************/


/*
Column 1
Start
*/

.column-1 {
  float: left;
  width: 450px;
  margin-left: 49px;
  padding-bottom: 6px;
}

.now-playing {
  position: relative;
  width: 450px;
  height: 450px;
  background-repeat: no-repeat;
  background-image: url("../images/desktop/now_playing.png");
}


/*
column-1
End
*/


/*
column-2
Start
*/

.column-2 {
  float: left;
  width: 450px;
  margin-left: 12px;
}

.column-2-section {
  display: flex;
  flex-flow: column;
  margin-bottom: 12px;
  padding: 22px 22px 0 22px;
  background-color: rgba(0, 0, 0, 0.6);
}

/*
column-2
End
*/
