* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
main {
  /*margin: auto;*/
  width: 1300px;
  /*height: 1509px;*/
  background-color: #101010;
  background-image: url("../desktop/background.png")
}

.content-section {
  width: 1300px;
}

.fake {
    clear: both;
}

.column-1 {
  float: left;
  width: 450px;
  margin-left: 49px;
  padding-bottom: 6px;
}
.column-2 {
  float: left;
  width: 450px;
  margin-left: 12px;
}
.column-3 {
  float: right;
  width: 279px;
  margin-left: 12px;
  /*clear: right;*/
}

.header {
  width: 1300px;
  height: 96px;
  margin-bottom: 18px;
}
.logotype {
  width: 109px;
  height: 75px;
  position: relative;
  left: 49px;
  top: 13px;
}
.play-controls {
  display: inline-block;
  position: relative;
  left: 100px;
  top: -9px;
}
.button-stop {
  width: 36px;
  height: 36px;
}
.button-play {
  width: 54px;
  height: 54px;
  position: relative;
  left: -12px;
  top: 9px;
  z-index: 1;
}
.button-forward {
  width: 36px;
  height: 36px;
  position: relative;
  left: -22px;
}
.volume-controls {
  display: inline-block;
  position: relative;
  left: 137px;
  top: -25px;
  width: 156px;
  vertical-align: middle;
}
.volume-rail {
  width: 100%;
  height: 100%;
}
.volume-circle {
  width: 16px;
  height: 16px;
}
.volume-handle-image {
  position: relative;
  top: 3px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 8px;
  height: 10px;
}
.volume-indicator {
  display: inline-block;
  width: 21px;
  height: 16px;
  position: relative;
  left: 146px;
  top: -17px;
}
.button-request {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: -23px;
  left: 676px;
  width: 142px;
  height: 33px;
  text-align: center;
  background-image: url("../desktop/request_button.png");
  background-repeat: no-repeat;
  line-height: 33px;
  font-family: ClearSans;
  color: #333333;
  font-size: 16px;
  /* Approximation due to font substitution */
  font-weight: 600;
}

.now-playing {
  width: 450px;
  height: 450px;
  background-repeat: no-repeat;
  background-image: url("../desktop/now_playing.png");
}
.recently-played {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 9px;
}
.recently-played-header {
  font-family: ClearSans;
  color: #d98000;
  font-size: 22px;
  font-weight: 100;
  line-height: 12px;
  text-align: left;
  margin: 23px 0 19px 22px;
}
.played-song {
  margin: 0 0 27px 22px;
  float: left;
}
article.played-song img {
  width: 49px;
  height: 49px;
  float: left;
}
article.played-song section p:nth-child(1) {
  display: block;
  margin: 0 0 4px 59px;
  font-family: ClearSans;
  color: #ffffff;
  font-size: 14px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
}
article.played-song section p:nth-child(2) {
  display: block;
  margin: 0 0 7px 59px;
  font-family: ClearSans;
  color: #ffffff;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
}
article.played-song section p:nth-child(3) {
  display: block;
  margin-left: 59px;
  font-family: ClearSans;
  color: #999999;
  font-size: 11px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
}
section.now-playing img:first-child {
  display: block;
  position: relative;
  top: 19px;
  left: 19px;
}
section.now-playing img:nth-child(2) {
  display: block;
  position: relative;
  top: 28px;
  left: 19px;
}
section.now-playing img:nth-child(3) {
  display: block;
  position: relative;
  top: 37px;
  left: 19px;
}

.column-2>section {
  display: flex;
  flex-flow: column;
  margin-bottom: 12px;
  padding: 22px 22px 0 22px;
  background-color: rgba(0, 0, 0, 0.6);
}
.column-2>section>div, .column-3>section>div {
  font-family: ClearSans;
  color: #d98000;
  font-size: 22px;
  /* Approximation due to font substitution */
  font-weight: 100;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-bottom: 16px;
}
.column-3>section>div {
  margin-bottom: 22px;
}
.concerts, .contests {
  margin-bottom: 26px;
  display: flex;
}
.concerts>img, .contests>img {
  width: 114px;
  height: 114px;
  margin-right: 12px;
}
.concerts p, .contests p {
  margin-bottom: 8px;
}
.concerts>section>p:nth-child(1), .contests>section>p:nth-child(1) {
  font-family: ClearSans;
  color: #999999;
  font-size: 11px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
}
.concerts>section>p:nth-child(2), .contests>section>p:nth-child(2) {
  font-family: ClearSans;
  color: #ffffff;
  font-size: 17px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 24px;
  /* Approximation due to font substitution */
  text-align: left;
}
.concerts>section>p:nth-child(3), .contests>section>p:nth-child(3) {
  font-family: ClearSans;
  color: #ffffff;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 18px;
  /* Approximation due to font substitution */
  text-align: left;
}
.contests>section>p:nth-child(3) {
  color: #999999;
  font-weight: 300;
}
.contests>section>p:nth-child(2) {
  line-height: 18px;
}
.contests>section>p:nth-child(3) {
  color: #999999;
  font-weight: 300;
}
.column-3>section {
  display: flex;
  flex-flow: column;
  padding: 22px 22px 0 22px;
  margin-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.6);
}
.kfox-links {
  display: flex;
  margin-bottom: 22px;
}
.stations {
  display: flex;
  margin-bottom: 29px;
}
.kfox-links>img, .stations>img {
  width: 22px;
  height: 22px;
  margin-left: auto;
}
.stations>img {
  align-self: center;
}
.kfox-links>p {
  font-family: ClearSans;
  color: #ffffff;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 16px;
  /* Approximation due to font substitution */
  text-align: left;
  /*margin-bottom: 25px;*/
}
.stations>div>p:nth-child(1) {
  font-family: ClearSans;
  color: #ffffff;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-bottom: 8px;
}
.stations>div>p:nth-child(2), .stations>div>p:nth-child(3) {
  font-family: ClearSans;
  color: #999999;
  font-size: 11px;
  /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 12px;
  /* Approximation due to font substitution */
  text-align: left;
  margin-bottom: 6px;
}
